%p Hi!
%p You have been invited to Better Pension! Please use the following link to login:
%p= link_to users_token_login_url(token: @login_token.token), users_token_login_url(token: @login_token.token)
